@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.color-1 {
    background-color: #1A0B2E;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    border-bottom: 1px solid #412567;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 60px;
   
    
    
}

.nav-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    background: linear-gradient(60deg,#F7E93F,#FB09B4,#9100F8);
}

.menu {
    display: flex;
    
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.menu-link {
        list-style: none;
        
}

.menu-link a{
    color: white;
    text-decoration: none;
}
i{
    background-color: transparent;
}


.banner {
    background-image: url(../assets/hero-bg.png);
    height: 760px;
    width: 100%;
    
    
}

.banner-image {
     display: flex; 
    position: relative;
    align-items: center;
    justify-content: center;
    height: 500px;
   
}
.banner-circle {
    height: 350px;
    width: 350px;
    transform: translate(50px,50px);
   text-align: center;
    bottom: 200px;
    
    
}
.banner-circle img{
    height: 250px;
    width: 250px;
    bottom: 500px;
;
    
   
   
}

.banner-mico {
     z-index: 1;
    position: absolute;
    transform: translate(50px,-0px);
}

.banner-mico img{
    height: 150px;
    width: auto;
   
}
    
.img-btn{
    border: none;
    font-weight: 500;
    background-color: #00FF88;
    height: 30px;
    width: 50px;
    border-radius: 20px;
    transform: translate(870px,-360px);
}
