@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    max-width: 100%;
    
}
.jakanaka{
    background: linear-gradient(60deg,#F7E93F,#FB09B4,#9100F8);
    background-size: contain; 

}

.light-green{
    color: #00FF88;
}

.color-1 {
    background-color: #1A0B2E;
}



.navbar {
    border-bottom: 1px solid #412567;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
   
  
   
}

.nav-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}

.btn{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
}

.menu {
    display: flex;
    
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.menu-link {
        list-style: none;
        
}

.menu-link a{
    color: white;
    text-decoration: none;
}
i{
    background-color: transparent;
    vertical-align: middle;
}


.banner {
    background-image: url(../assets/hero-bg.png);
    background-size: contain;
    height: 760px;
    width: 100%;
    background-repeat: no-repeat;
     background-size: cover; 
    max-width: 100%;   
   
}





.banner-image {
     display: flex; 
    position: relative;
    align-items: center;
    justify-content: center;
    height: 500px;
   
}
.banner-circle {
    height: 350px;
    width: 350px;
    transform: translate(-10px,40px);
   text-align: center;
    bottom: 200px;
    
    
}
.banner-circle img{
    height: 350px;
    width: 350px;
    bottom: 500px;
;
    
   
   
}

.banner-mico {
     z-index: 1;
    position: absolute;
    transform: translate(-10px,30px);
}

.banner-mico img{
    height: 150px;
    width: auto;
   
}
    
.img-btn{
    position: absolute;
    border: none;
    font-weight: 600;
    background-color: #00FF88;
    height: 30px;
    width: 50px;
    border-radius: 20px;
    transform: translate(-80px,-100px);
    z-index: 2;
    position: absolute;
    box-shadow: #00FF88 0px 0px 8px;
}


.tech-box {
   
    color: white;
    text-align: center;
    transform: translate(-0px -10000px);
    z-index: 2;
    margin-bottom: 100px;
}
.tech-box h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.tech-box p{
    color: #FFFFFF;
    margin-top: 8px;
}

.btn-sp{
    color: white;
    border:none;
    height: 35px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    
}
.btn-sp img{
    margin-right: 5px;
    vertical-align: middle;
}

.btn-ms{
    border: 1px solid #00FF88;
    background-color: transparent;
    height: 35px;
    width: 120px;
    border-radius: 20px;
    text-align: center;
    margin-left: 8px;
    margin-top: 24px;
    
    
}

.btn-ms img{
    margin-right: 5px;
    vertical-align: middle;
}


 .hidden{
    display: none;
}

.podcast{
    border: none;
    width: 1200px;
    height: 200px;
    color: white;
    font-weight: small;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    padding: 16px;  
    border-bottom: 1px solid rgb(255, 255, 255);
}

.podcast h1{
    margin-bottom: 20px;
    
}




.card{
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    /* margin: 50px auto; */
    text-align: center;
   
}
.card-container{
    padding-top: 50px;
}

.card .card-container h1{
    font-size: 3rem;
    
    
}
.card-container p{
    font-size: small;
    color: white;
   padding-bottom: 200px;
    gap: 30px;
}

.choose{
    background-color: #230E3D;
    /* padding-top: 120px; */
    padding-bottom: 120px;
}

.choose h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 120px;
    /* padding-top: 40px; */
}

.box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    grid-template-rows: repeat(3,250px);
    
    /* border: 1px solid teal; */
    justify-content: space-evenly;
     margin: 40px 200px 120px 200px; 
    background-color: #230E3D;
}
.box img,h3,p{
    margin-left: 40px;
}
.box img{
    margin-top: 40px;
    padding-bottom: 16px;
}
.box p{
    padding-top: 16px;

}

.box-hard{
    color: white;
    /* border:1px solid teal; */
    border-radius: 20px;
    gap: 30px;
    background-color: #351165;
}

.raw-layout{
    grid-column: span 1;
    grid-row: span 2;
}

.column-layout{
    grid-column: span 2;
    grid-row: span 1;
}
normal-layout{
    grid-column: span 1;
    grid-row: span 1;
}



@media screen and (max-width: 576px) {
 .menu ,.btn {
        display: none;
    
}

.navbar{
   flex-direction: column;
   height: 30px;
   
}

.nav-img{
    justify-content: space-between
    
}
.nav-img img{
   max-width: 137px;
   
}
.banner {
    background-size: contain;
    height: 760px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 10px;
   
}

.banner-circle img {
    height: 150px;
    width: 150px;
    transform: translate(5px,-120px);
   
}
.banner-mico img {
    height: 80px;
    /* width: auto; */
    transform: translate(5px,-205px);

}


.hidden{
   display: block;
   justify-content: space-between;
    }

.img-btn{
    transform: translate(-130px,-250px);
}
.tech-box{
    transform: translate(0px,-350px);
    font-size: x-small;
}
.tech-box h1{
    font-size: 1.2rem;
}
.tech-box button{
    height: 30px;
    width: 130px;
    font-size: smaller;
    margin-top: 8px;
}
}